html body{
    background-image: url("../images/background.jpg");
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Orbitron', sans-serif;
    
}

.list-group{
    color: black;
}

.gipy-embed{
    width: 25%; 
    height: 100px;
    margin-right: 10px;
    
}

#title{
    background-color: #913c3c;
    height: 50px;
    margin-top: 50px;
    font-size: 30px;
}

#instructions {
    background-color: #3c9091;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

#randomNumber{
    background-color: #724aab;
    height: 50px;
    margin-top: 20px;
}

#scoreBoard{
    background-color: #b53d53;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

#four{
    margin-top: 20px;
}

