html body{
    background-image: url("../images/background.jpg");
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Orbitron', sans-serif;
    
}



#title{
    background-color: #913c3c;
    height: 50px;
    margin-top: 50px;
    font-size: 30px;
}

#instructions {
    background-color: #3c9091;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.list-group{
    color: black;
}